@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: "Roboto", serif;
    background-color: pink;
}

header{
    background-color: rgba(0, 0, 0, 0.250);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header p{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(244, 146, 163);
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    color: rgb(77, 77, 77);
}

h1{
    display: flex;
    justify-content: start;
    margin: 15px 10px;
    font-weight: 400;
}

div .form-realtimeproducts{
    background-color: rgb(212, 123, 138);
    padding: 30px;
    height: 22rem;
    width: 26rem;
    border-radius: 5px;
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

div .form-realtimeproducts div{
    margin: 15px 0px;
}

div .form-realtimeproducts div label{
    margin-right: 10px;
}

div .form-realtimeproducts div input{
    border: none;
    border-bottom: 1px pink solid;
    background-color: rgb(212, 123, 138);
}

.button-realtimeproducts{
    color: pink;
    background-color: rgb(206, 110, 126);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.button-realtimeproducts:hover{
    background-color: rgb(146, 78, 90);
}

div p{
    margin-left: 10px;
    text-decoration: underline;
}

.cartsContainer{
    margin: 5px 15px 25px 15px;
}

.cartsContainer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Espacio entre columnas y filas */
    flex-direction: row;
    flex-wrap: wrap;
}

.cartsContainer ul li{
    height: 10rem;
    padding: 20px;
    background-color: rgb(236, 168, 179);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 5px;
    display: flex; 
    gap: 20px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
}

.cartsContainer ul li p{
    text-decoration: none;
    margin: 0;
}

/* Estilos para vista de carrito */
.cartContainer ul{
    list-style: none;
}

.cartContainer ul li{
    display: flex;
    background-color: rgb(251, 212, 218);
}

.cartContainer ul li p{
    text-decoration: none;
    border-right: 1px black solid;
    padding: 0px 30px;
}

.cartContainer ul li form button{
    color: pink;
    background-color: rgb(206, 110, 126);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 0 0 15px;
}

.cartContainer ul li form button:hover{
    background-color: rgb(146, 78, 90);
}

.cartContainer div form button{
    color: pink;
    background-color: rgb(206, 110, 126);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 0 0 15px;
}

.cartContainer div form button:hover{
    background-color: rgb(146, 78, 90);
}

/* Estilos para la lista de productos */
.cartsContainer ul .li-index{
    height: 3rem;
    width: 15rem;
    gap: 10px;
    padding: 1rem;
    justify-content:start;
}

.cartsContainer ul .li-index a{
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.cartsContainer ul .li-index a:hover{
    color: rgb(77, 77, 77);
}

.cartsContainer .paginationContainer p a{
    color: black;
    text-decoration: none;
}

.form-index{
    background-color: rgb(236, 168, 179);
    height: 0;
    width: 0;
}

.button-index{
    width: 10rem;
    padding: 0;
    margin-bottom: 10px;
    color: pink;
    background-color: rgb(206, 110, 126);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 0;
}

.button-index:hover{
    background-color: rgb(146, 78, 90);
}

.div-product{
    width: 25rem;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    gap: 8rem;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(236, 168, 179);
    border-radius: 5px;
}

.div-product div h3{
    margin-top: 0;
}

.div-product div p{
    text-decoration: none;
}

.div-product div form button{
    color: pink;
    background-color: rgb(206, 110, 126);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.div-product div form button:hover{
    background-color: rgb(146, 78, 90);
}

footer{
    background-color: rgba(0, 0, 0, 0.250);
    padding: 35px;
    margin: 15px 0 0 0;
}